body{
    background-color:white;
}
*{box-sizing: border-box;
    margin: 0;
    padding: 0;   
 }
.nav{
    background-color: teal;
   
   display: flex;
    gap: 170px;
    padding:20px 60px ;
}
.icon{
    font-size: 30px; 
}
.icon a{
    text-decoration: none;
    padding: 10px;
    text-transform: capitalize;
    color: white;
}
.icon a:hover{background-color: rgb(245, 152, 12);}
.h1{color: beige;}
/*nav close*/
.profile{text-align: center;
    font-size: 1.5rem;
    padding: 220px 10px;
    position: relative;
    background-color: aliceblue;
}

.top-img{
    position: absolute;
    transition: transform 2s ;
    right: 30px;top: 40px;
  
}
.top-img:hover{
 transform:rotate(360deg);
}
.down-img{
    position: absolute;
    transition: transform 2s ;
    left: 60px;
}
.down-img:hover{
    transform:rotate(360deg); 
}
/* profile close*/  
.professional{display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px; 
    gap: 40px;
    margin: 20px;
}
.a,.b,.c{ background-color: gray;
    padding-top: 20px;
    border: 2px solid black;
    border-radius: 20px;
}
.a:hover{
    box-shadow: 0px  8px 5px rgb(20, 17, 17);
}
.b:hover{
    box-shadow: 0px  8px 5px rgb(20, 17, 17);
}
.c:hover{
    box-shadow: 0px  8px 5px rgb(20, 17, 17);
}
.h{text-align: center;
background-color: rgb(70, 63, 63);}
.desc{
    padding: 20px 40px;
    font-size: 20px;
} 
.desc1{  
    font-size: 20px;              
}
.desc1 li{ list-style-type: none;
    padding: 20px;
    margin: 30px 20px;
    font-weight: bolder;
    position: relative;
} 
.desc1 li::before{
    position: absolute;
    left: 0px;
    top:calc(100% + 5px);
    content:'';

   background-color: beige;
   height: 20px;
   width: 100%;
   border-radius: 1000px;
}   
.desc1 li::after{
    position: absolute;
    left: 0px;
    top:calc(100% + 5px);
    content:'';

   background-color: rgb(231, 231, 20);
   height: 20px;
   width: 0%;
   border-radius: 1000px;

   animation-duration: 13s;
   animation-delay: 2s;
   animation-timing-function: linear;
   animation-fill-mode: forwards;
   animation-iteration-count: infinite;
}
.desc1 li.html::after{
    animation-name: html;
} 
 @keyframes html{
    to{width: 90%;}
 } 
 .desc1 li.css::after{
    animation-name: css;
} 
 @keyframes css{
    to{width: 70%;}
 } 
 .desc1 li.java::after{
    animation-name:java ;
} 
 @keyframes java{
    to{width: 60%;}
 } 
 .desc1 li.javas::after{
    animation-name: javas;
} 
 @keyframes javas{
    to{width: 40%;}
 }  
 .desc1 li.python::after{
    animation-name: python;
} 
 @keyframes python{
    to{width: 90%;}
 } 
 .desc1 li.js::after{
    animation-name:js ;
} 
 @keyframes js{
    to{width: 60%;}
 } 
 .desc1 li.rj::after{
    animation-name: rj;
} 
 @keyframes rj{
    to{width: 50%;}
 } 
 /* professional close*/                   
.about h1{text-align: center;}
.about-me{display: flex;
          gap:270px;
          padding: 20px;
}
.aboutmea{
    padding: 80px;
}
.aboutmea img{ 
    border: 2px solid black;
    border-radius: 130px;
}
.aboutmeb{
    margin: 20px;
  padding: 20px;
    font-size: 20px;
}
.style-hr{
    border: 1px solid rgb(149, 242, 10);
}
.aboutmeb button{
    font-size: 25px;
    padding: 10px;
    background-color: aqua;
}
/* about close*/
.contract{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 170px;
    margin: 10px;
    padding: 20px;
    background-color: aqua;
}
.ca,.cb,.cc h1{
    text-align: center;
}
.caa{
text-align: justify;font-size: 20px;
}
#texta{
    border: 2px solid aqua;
  font-size: 20px;
  padding: 10px;
}
#textb{
    border: 2px solid aqua;
    font-size: 20px;
    padding: 10px; 
    height: 150px;
}
.send{ display: flex;
    
}
.send button{
    font-size: 25px;
    text-align: center;
    margin: 20px;
    background-color: rgb(4, 84, 84);
}
.icon2 i{
    font-size: 20px;
    border: 1px solid black;
    padding: 10px;
     border-radius: 20px; 
}
.icon2 i:hover{
    background-color: blue;
}
.footer{
    background-color: black;
    display: flex;
    color: bisque;
    padding: 20px;
    gap: 170px;
}
.last{
    font-size: 20px;
}